POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=booking
POSTGRES_PASSWORD=booking
POSTGRES_DATABASE=class_booking
NODE_ENV=development
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=dev-secret-change-in-prod
